{% extends 'base.html' %}
{% block content %}
    <section class="sign-in">
        <div class="signin-content">
            <div class="signin-image">
                <center>
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                            <form method="post" style="text-align: center" enctype="multipart/form-data"
                                  autocomplete="off">
                                {{ form.hidden_tag() }}
                                <fieldset>
                                    <legend>{{ legend }}</legend>
                                    <div class="form-group" style="text-align: center">
                                        {% if form.name.errors %}
                                            {{ form.name(placeholder="Your Category", style="text-align: center") }}
                                            {% for error in form.name.errors %}
                                                <div class="alert-message block-message error">
                                        <span class="badge badge-danger">
                                            {{ error }}
                                        </span>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {{ form.name(placeholder="Your Category", style="text-align: center") }}
                                        {% endif %}
                                    </div>
                                    <div class="file-upload-wrapper">
                                        {% if form.image_file.errors %}
                                            {{ form.image_file(placeholder="Product name", class="file_upload") }}
                                            {% for error in form.image_file.errors %}
                                                <div class="alert-message block-message error">
                                                    <span class="badge badge-danger">
                                                        {{ error }}
                                                    </span>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {{ form.image_file(placeholder="Product name", class="file_upload") }}
                                        {% endif %}
                                    </div>
                                </fieldset>
                                <br>
                                <div class="form-group">
                                    {{ form.submit(class="btn btn-primary") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </section>
    {% if title != 'Update Cat' %}
        <p>Category Table</p>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Categories</th>
                    <th scope="col">Image</th>
                    <th scope="col">Create At</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Status</th>

                </tr>
                </thead>
                {% for cat in categories %}
                    <tbody>
                    <tr>
                        <th scope="row">{{ cat.id }}</th>
                        <td>{{ cat.name }}</td>
                        <td><img src="{{ url_for('static', filename='images/' + cat.image_file) }}"
                                 class="account-img rounded-circle"></td>
                        <td>{{ cat.create_at.strftime('%Y, %m, %d') }}</td>
                        <td>
                            <div style="text-align: center">
{#                                <a id="btnDelete" href="{{ url_for('categ.delete_cat', my_cat_id=cat.id) }}"><i#}
{#                                        class="fas fa-trash"></i></a>#}
                                <a id="btnDelete" href="{{ url_for('categ.delete_cat', my_cat_id=cat.id) }}" onclick="myFunction()"><i
                                        class="fas fa-trash"></i></a>

                                <a href="{{ url_for('categ.update_cat', my_cat_id=cat.id) }}"><i
                                        class="fas fa-pen-square"></i></a>
                            </div>

                        </td>
                        <td style="text-align: center">
                            {% if cat.deleted == False %}

                                <a href="{{ url_for('categ.active_action', id=cat.id) }}">Active <i
                                        class="fas fa-flag"></i></a>
                            {% else %}
                                <a href="{{ url_for('categ.active_action', id=cat.id) }}">In Active <i
                                        class="far fa-flag"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    <br>
    <br>
    <style>
        .my-custom-scrollbar {
            position: relative;
            height: 200px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }
    </style>
    <script src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/plugins/mdb-file-upload.min.js"></script>
    <script>$('.file_upload').file_upload();</script>
    <script>
        function myFunction() {
            console.log('come here')
        }
    </script>

{% endblock %}
