{% extends 'base.html' %}
{% block content %}

    <p>Categories</p>
    <section class="sign-in">


        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Categories</th>
                    <th scope="col">Image</th>
                    <th scope="col">Create At</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                {% for c in cat %}
                    <tbody>
                    <tr>
                        <th scope="row">{{ c.id }}</th>
                        <td>{{ c.name }}</td>
                        <td><img src="{{ url_for('static', filename='images/' +c.image_file) }}"
                                 class="account-img rounded-circle"></td>
                        <td>{{ c.create_at.strftime('%Y, %m, %d') }}</td>

                        <td style="text-align: center">
                            {{ c.deleted }}
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>

        <style>
            .my-custom-scrollbar {
                position: relative;
                height: 200px;
                overflow: auto;
            }

            .table-wrapper-scroll-y {
                display: block;
            }
        </style>

    </section>
    <br>
    <p>Sub Categories</p>
    <section class="sign-in">


        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Categories</th>
                    <th scope="col">Image</th>
                    <th scope="col">Create At</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                {% for c in sub_cat %}
                    <tbody>
                    <tr>
                        <th scope="row">{{ c.id }}</th>
                        <td>{{ c.name }}</td>
                        <td><img src="{{ url_for('static', filename='images/' +c.image_file) }}"
                                 class="account-img rounded-circle"></td>
                        <td>{{ c.create_at.strftime('%Y, %m, %d') }}</td>

                        <td style="text-align: center">
                            {{ c.deleted }}
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>

        <style>
            .my-custom-scrollbar {
                position: relative;
                height: 200px;
                overflow: auto;
            }

            .table-wrapper-scroll-y {
                display: block;
            }
        </style>
    </section>
    <br>
    <p>Products</p>
    <section class="sign-in">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sub Categories</th>
                    <th scope="col">Products</th>
                    <th scope="col">Total Quantity</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Image</th>
                    <th scope="col">Net Price</th>
                    <th scope="col">Sale Price</th>
                </tr>
                </thead>
                {% for pro in products %}
                    <tbody>
                    <tr>
                        <th scope="row">{{ pro.id }}</th>
                        <td>{{ pro.sub_cat_id }}</td>
                        <td>{{ pro.name }}</td>
                        <td>{{ pro.total_quantity }}</td>
                        <td>{{ pro.unit }}</td>

                        <td><img src="{{ url_for('static', filename='images/' +pro.image_field) }}"
                                 class="account-img rounded-circle"></td>
                        <td>{{ pro.net_price }}</td>
                        <td>{{ pro.sale_price }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>

        <style>
            .my-custom-scrollbar {
                position: relative;
                height: 200px;
                overflow: auto;
            }

            .table-wrapper-scroll-y {
                display: block;
            }
        </style>
    </section>
{% endblock %}
